.cards-container {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.container {
  display: inline-block;
  margin: 50px 25px 0px 25px;
}
p {
  margin: 10px 0;
}
.container .card {
  position: relative;
  width: 220px;
  height: 160px;
  background: #fff;
  margin: 30px 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 202px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
  /* margin-bottom: 210px; */
}
.container .card:hover {
  height: 338px;
  margin-bottom: 5px;
}
.container .card .imgbx {
  position: relative;
  width: 210px;
  height: 220px;
  top: -60px;
  left: 5px;
  z-index: 1;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}
.container .card .imgbx:hover {
  box-shadow: 0 15px 50px rgba(207, 13, 13, 0.2);
}
.container .card .imgbx img {
  max-width: 100%;
  border-radius: 4px;
}

.container .card .content {
  position: relative;
  margin-top: -140px;
  text-align: center;
  color: #111;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.container .card:hover .content {
  visibility: visible;
  opacity: 1;
  margin-top: -50px;
  transition-delay: 0.3s;
}

.container:last-child .card {
  margin-bottom: 200px;
}
.container:last-child .card:hover {
  margin-bottom: 22px;
}
.mem-pics {
  height: 220px;
  width: 210px;
}
h2 {
  margin: auto;
  font-family: "New Rocker", cursive;
  font-size: 30px;
  color: black;
  /* margin: 0; */
}
h3 {
  color: rgb(221, 216, 216);
  text-shadow: 2px 2px red;
  font-size: 35px;
  margin: auto;
  margin-bottom: 8px;
}
.logo {
  width: 33px;
  margin: 10px 5px 0 5px;
}
li {
  /* background: none; */
  /* border: 3px solid #fff; */
  /* border-radius: 5px; */
  color: rgb(245, 10, 10);
  font-size: 20px;
  font-weight: bold;
  padding: 1px 5px;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 20px;
}
.header-member {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  width: 100%;
  /* border: 10px #fff solid; */
  color: rgb(242 241 247);
  /* background-color: rgba(216, 240, 192, 0.685); */
  height: 50px;
  margin: 50px 0 10px 0;
  font-family: "Carter One", cursive;
  text-shadow: 3px 4px #481616;
}

@media (max-width: 1070px) {
  .header-member {
    font-size: 50px;
  }
  .container {
    margin: 40px 12px 0px 12px;
  }
  .container .card {
    width: 180px;
    height: 110px;
    padding: 20px 10px;
  }
  .container .card:hover {
    height: 260px;
  }
  .container .card .imgbx {
    width: 175px;
    height: 175px;
    left: 3px;
  }
  .mem-pics {
    height: 175px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 25px;
  }
  .logo {
    width: 25px;
    margin-top: 10px;
  }
  .container:last-child .card {
    margin-bottom: 175px;
  }
}

@media (max-width: 560px) {
  .header-member {
    font-size: 36px;
  }
  .container {
    margin: 30px 6px 0px 6px;
  }
  .container .card {
    width: 140px;
    height: 70px;
    padding: 15px 5px;
  }
  .container .card:hover {
    height: 190px;
  }
  .container .card .imgbx {
    width: 140px;
    height: 140px;
    left: 0px;
  }
  .mem-pics {
    height: 140px;
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 19px;
  }
  .logo {
    margin-top: 10px;
    width: 20px;
  }
  .container:last-child .card {
    margin-bottom: 145px;
  }
}

@media (max-width: 420px) {
  .header-member {
    font-size: 30px;
  }
  .container .card {
    width: 120px;
    height: 52px;
    padding: 13px 4px;
  }
  .container .card:hover {
    height: 165px;
  }
  .container .card .imgbx {
    width: 120px;
    height: 120px;
    left: 0px;
  }
  .mem-pics {
    height: 120px;
  }
  h2 {
    font-size: 16px;
  }
  h3 {
    font-size: 17px;
  }
  .container:last-child .card {
    margin-bottom: 130px;
  }
}

@media (max-width: 360px) {
  .container {
    margin: 20px 4px 0px 4px;
  }
  .header-member {
    font-size: 25px;
  }
  .container .card {
    width: 100px;
    height: 34px;
    padding: 10px 3px;
  }
  .container .card:hover {
    height: 128px;
  }
  .container .card .imgbx {
    width: 100px;
    height: 100px;
    left: 0px;
  }
  .mem-pics {
    height: 100px;
  }
  .logo {
    margin-top: 6px;
    width: 16px;
    margin-left: 5px;
  }
  h2 {
    font-size: 13px;
  }
  h3 {
    text-shadow: 1px 1px red;
    font-size: 14px;
  }
  .container:last-child .card {
    margin-bottom: 115px;
  }
}
